@font-face {
    font-family: "Commissioner";
    src: url("../fonts/commissioner-regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Commissioner";
    src: url("../fonts/commissioner-medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Commissioner";
    src: url("../fonts/commissioner-light.ttf");
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;


    font-family: "Commissioner", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: normal;
    color: #000000;
    background-color: #fff;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 10px;
    background-color: #2D54E2;
    border: 0;


    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    text-align: center;

}

.section-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;

    margin: 0;
}

.main-header {
    padding: 30px 0;
    box-shadow: 0 4px 10px 0 rgba(3, 10, 35, 0.06);

    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.main-header a {
    color: #030A23;
    text-decoration: none;
}

.nav-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 30px;
}

.search-form {
    margin-left: 45px;
    margin-right: 65px;

    display: flex;
    flex-grow: 1;
}

.search-form input {
    flex-grow: 1;

    border: 1px solid #2D54E2;
    padding: 10px 15px;
}

.search-form input::placeholder {
    font-size: 14px;
    line-height: 17px;
    color: rgba(3, 10, 35, 0.5);
}

.search-form .button {
    width: 95px;
}

.site-authorization-list {
    list-style: none;
    margin: 0 65px 0 0;
    padding: 0;

    display: flex;
}

.site-authorization-item:not(:last-child) {
    margin-right: 30px;
}

.site-navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
}

.site-navigation-item:not(:last-child){
    margin-right: 30px;
}

.site-navigation-item a {
    font-size: 0;

    display: block;
    width: 24px;
    height: 24px;
}

.site-navigation-item-user {
    background: url("../img/user-icon.svg") no-repeat center;
}

.site-navigation-item-cart {
    background: url("../img/cart-icon.svg") no-repeat center;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.menu-item:not(:last-child) {
    margin-right: 27px;
}

.promo {
    padding: 30px 0;
    position: relative;
    height: 500px;
}

.promo img {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: -1;
}

.promo-block {
    width: 445px;
    margin: 60px 0 0 95px;
    padding: 65px 64px;
    box-sizing: border-box;

    background-color: #fff;
}

.promo-title {
    margin-bottom: 10px;
}

.promo-block p {
    margin: 0 0 40px;
}

.promo-block .button {
    width: 171px;

    font-size: 18px;
    line-height: 23px;
}